[2014-03-03 23:48] glennc opened #1 "Provide example of application provided DataProtection entropy"

[2014-03-04 00:46] glennc opened #2 "Create config particles"
Startup class that demonstrates:

- [x] Add configuration sources to a configuration
- [x] Pass configuration to settings factory method
- [x] Navigating configuration based on key prefix from user code
- [ ] Notification of configuration source changes, flows to settings objects
- [x] Implementing a custom source in an application

[2014-03-04 00:54] glennc opened #3 "Create IoC particles"
Startup class that demonstrates:

- user provided container populated with third party and framework services, which implies chaining host container.
- fallback container providing framework services (default scenario with no customer IoC), implies chaining host container
- override individual framework services
- IoC interaction with configuration, e.g. framework is given IConfiguration when prod

[2014-03-04 01:00] glennc opened #4 "Create logging particle"
Startup class that demonstrates:

- Configuring a sink
- Turning on a specific source, create a logger for this class or this component
- Turn on logging for a specific severity (per source? Inherited by source prefix?)
- Do above without recompiling the app (no app recycle)
- Configure third party logging framework
- How to implement a shim to observe log statements (glimpse)

[2014-03-04 01:07] glennc opened #5 "Create routing particle"
Startup class that demonstrates:

- Adding route middleware with simple route handler
- Adding n-deep route handling topology
- Shows soft 404 aka backtracking aka continuing execution
- Sharing route handler for multiple routes
- Path creation for route values
- Observe route processing (Glimpse)

[2014-11-07 20:30] simonech opened #27 "Release branch doesn't compile"
Just getting the repo from git, with no change done, the solution doesn't build.

The project Mvc.CustomRoutingConvention gives the following 10 errors: (all project references are downloaded)

[code]
I just checked, and the dll that gets downloaded from myget (Microsoft.AspNet.Mvc.Core\6.0.0-beta1-11874) doesn't contain any definition of the `ApplicationModels` namespace.

Also references in one

[2015-04-16 06:48] muratg opened #57 "Remove ANI support from samples"
At least some of them still have the attribute.  E.g. Runtime.ApplicationEnvironment

[2015-10-25 22:37] mikeandersun opened #70 "Add Gulp alternative to Gruntfile.js"
Please add Gulp alternative to Gruntfile.js

[2015-12-02 19:38] victorhurdugaci opened #77 "Mvc.CustomRoutingConvention is broken"
Upon startup:

[code]

[2015-12-07 01:03] Eilon commented on #77
@ryanbrandenburg could you take a look at this and make sure the sample still works? Then see if @victorhurdugaci can point you at how to add some kind of basic test for it.

[2015-12-14 01:10] sky-code commented on #77
I have same problem, please see this example https://github.com/sky-code/HostingSample
It's a default new project, i made changes only in project.json
Here problem in dependencies
but what dependency causes a problem? How to fix it? Error output doesn't have any details

[2015-12-14 01:29] sky-code commented on #77
Problem here in EntityFramework.Core and EntityFramework.Commands, if we change versions to 7.0.0-rc1-final hosting will start without errors.
Consider opportunity to add a detailed exception for this kind of errors

[2015-12-14 22:36] ryanbrandenburg commented on #77
The problem here appears to be in the project.json:
[code]

Basically it looks to me like we're trying to use Microsoft.AspNet.Hosting and Microsoft.AspNet.Server.WebListener without having them as dependencies, and instead of telling us that right off the bat we get an error at the first time we try to use one of them.

It works just fine if I turn the above into:
[code]

@victorhurdugaci does th

[2015-12-19 03:21] JunTaoLuo opened #81 "Owin.OwinWebSockets sample broken"
An internal error occurs when running this sample. Using diagnostics I see:
[code]

Seems like we need to handle the case when the key doesn't even exist.

[2015-12-19 03:26] JunTaoLuo opened #82 "Remove Config.ChangeNotification.Web"
This sample is currently empty except for a `project.json` file which has only two dependencies. Seems like it was never actually written?

[2015-12-29 18:34] muratg commented on #82
@divega?

[2016-01-04 18:19] muratg commented on #82
@divega Please feel free to bring it back if we need a sample for this, or remove this sample all together. Putting it in backlog to take it out of triage for now.

[2016-01-04 18:20] muratg commented on #81
@JunTaoLuo is this on CoreCLR or CLR/Mono or both?

@Tratcher any ideas?

[2016-01-04 18:21] muratg commented on #70
@mikeandersun Which samples specifically?  Would you be interested in sending a PR? :smile:

[2016-01-04 18:51] JunTaoLuo commented on #81
I tested this on CLR previously, did not confirm on CoreCLR but I presume the same issue will occur.

[2016-01-04 18:59] JunTaoLuo commented on #81
The issue was that https://github.com/aspnet/Entropy/blob/dev/samples/Owin.OwinWebSockets/Startup.cs#L45 fails since the key `websocket.Accept` does not exist. Possibly, we just need to check for existence first using `env.Contains` or use `env.TryGetValue` instead of using the indexer.

[2016-01-04 19:44] #77 closed

[2016-01-04 23:40] Tratcher commented on #81
I think the dictionary use to return null for missing entries but now throws. Change to TryGetValue.

[2016-01-08 23:52] #81 closed

[2016-01-08 23:53] JunTaoLuo commented on #81
merged to dev

[2016-01-20 19:05] Rick-Anderson opened #86 "Entropy solution doesn't build - Could not find file 'Entropy-dev\samples\Builder.Filtering.Web\project.lock.json'."
36 errors
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not find file 'C:\Users\riande\Downloads\Entropy-dev3\Entropy-dev\samples\Builder.Filtering.Web\project.lock.json'.	Builder.Filtering.Web		1

[2016-01-22 16:44] Rick-Anderson commented on #86
PR fixed it

[2016-01-22 16:44] #86 closed

[2016-01-22 17:01] Rick-Anderson opened #89 "Sample doesn't work from VS - works only from console"
@ryanbrandenburg  any ETA on when this will be fixed?

[2016-01-22 19:39] ryanbrandenburg commented on #89
This is a dupe of https://github.com/aspnet/dnx/issues/3047 so I'm closing it.

[2016-01-22 19:39] #89 closed

[2016-01-22 20:25] JunTaoLuo opened #90 "Change to build to use dotnet"
Blocked on ServerTests updates. Will start once work there is complete.

[2016-02-03 13:26] adrien-constant opened #92 "RenderViewToString : viewLocationBasePath is irrevelant"
First thanks for sharing.

The following code is useless / does not work as expected.

` WebRootFileProvider = new PhysicalFileProvider(viewLocationBasePath ?? applicationEnvironment.ApplicationBasePath)`

The web root is used when looking for static files, aka the wwwroot folder (as described in the source code comments).
It is not used for razor views lookup.
Thus, setting the parameter does not

[2016-02-03 17:20] Eilon commented on #92
@ajaybhargavb any thoughts on this?

[2016-02-03 18:19] ajaybhargavb commented on #92
Thanks for reporting this. I checked and it does look like it is ignored when the views directory is outside the project directory. I'll investigate more and work on a fix.

[2016-02-06 01:30] #92 closed

[2016-02-06 01:34] ajaybhargavb commented on #92
Make sure to set the `customApplicationBasePath` here https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.RenderViewToString/Program.cs#L21 to the folder that contains `Views` folder and not the `Views` folder itself.

[2016-02-08 14:08] adrien-constant commented on #92
Thanks a lot, that works with files outside the project directory now.

Just a quick note for those who may have Razor template compilation errors : the file _ViewImports.cshtml is loaded from the `customApplicationBasePath ` directory, so you may have to add the corresponding references to your project (tag helpers, etc)

[2016-02-10 00:34] JunTaoLuo opened #97 "CompileModule sample is not supported in dotnet"
Dnx used to support CompileModule but after moving to dotnet I believe it is going away or at least it's not currently clear what the plan will be. This affects the `Project.CompileModule` sample so once we find out whether the support will be available we need to update or remove this sample.

cc @muratg @davidfowl

[2016-02-10 03:02] muratg commented on #97
Should we remove this sample?

[2016-02-10 03:47] davidfowl commented on #97
Yep

[2016-02-10 06:53] Tragetaschen commented on #97
*sob*

[2016-02-10 07:17] davidfowl commented on #97
@Tragetaschen the best we can do here is offer an alternate compiler with the old dnx roslyn compiler that supported compile modules. But we're not going to ship that as "the thing". Roslyn is eventually going to support generators.

[2016-02-10 08:51] Tragetaschen commented on #97
Na, no worries. I'm half-way through the restructuring already. The hardest part was the reflection bits, but these are now isolated from the code generation.

I know it's a bit specific to my environment, but all my generated code was already hidden behind interfaces and it only surfaced at DI container setup. I already had empty stub classes so that IntelliSense (the design time host) would not

[2016-02-10 18:03] muratg commented on #97
@ryanbrandenburg Could you remove this sample when you have some time?

[2016-02-10 18:15] JunTaoLuo commented on #97
I have it as part of https://github.com/aspnet/Entropy/pull/98

[2016-02-10 20:46] ryanbrandenburg commented on #97
Reassigning to @JunTaoLuo since he's already completed the work.

[2016-02-12 01:55] Rick-Anderson opened #99 "Move app.UseRequestLocalization after UseExceptionHandler"
@hishamco should app.UseRequestLocalization be moved after adding an exception handler on the chance you get an exception in loc? I assume it's OK to have it before Auth, given that Auth will eventually run.

[2016-02-12 02:00] hishamco commented on #99
I didn't run on such scenario, are you facing issue when you move it after ```UseExceptionHandler```?!! if it's so provide me a link to a repo that reproduce this issue

[2016-02-12 02:13] Rick-Anderson commented on #99
No, I've actually tried to force an exception to test this and haven't been able to. That doesn't mean someone won't hit an exception in loc and not get a good error message (because they are adding loc before exceptions).

I'm using Entropy  to write my loc document and I'm talking about where to add UseRequestLocalization. Can I email you a copy of the article to review? If so, what contact info

[2016-02-12 02:23] hishamco commented on #99
Can you send the link here or attach the code or create a repo if you don't mind. This is better that private emails while we are in OSS world :smile: also anyone can participate here

[2016-02-12 02:26] Rick-Anderson commented on #99
I moved
` var locOptions = app.ApplicationServices.GetService<IOptions<RequestLocalizationOptions>>();
  app.UseRequestLocalization(locOptions.Value);`

after the exception handler is set and it works fine. I think I'll keep it that way for my sample.

I'll send you a link to my preview loc document in a couple days.

[2016-02-12 02:27] #99 closed

[2016-02-12 02:35] hishamco commented on #99
Using ```app.UseRequestLocalization```  in ```Configure``` method before ```app.UseExceptionHandler``` should work fine. Either you supply the localization options in the ```Configure``` or ```ConfigureServices``` method

[2016-02-17 19:13] #97 closed

[2016-02-17 19:13] JunTaoLuo commented on #97
merged in #98

[2016-02-17 19:13] #90 closed

[2016-02-25 04:08] dougbu opened #102 "Get tests working on Travis / Linux"
Entropy builds have been erroring or failing consistently on Travis for a while. Looks like the last successful Travis run was 16 days ago. (Admittedly, that span may include runs where Linux succeeded but OS X failed.)

The current unique issue appears to be a failure while executing `dotnet publish`. It's likely some of the recent infrastructure changes have either not yet been applied in this r

[2016-02-25 16:59] muratg commented on #102
@JunTaoLuo Could you look into this?

@victorhurdugaci in case he has any ideas.

[2016-02-26 00:37] JunTaoLuo commented on #102
There are several issues here

- [ ] Self host deployer not using the correct extensions, should be fixed by https://github.com/aspnet/Hosting/commit/0d737d5eb81b04778304c9842d1352ff4439ab86
- [ ] Hangs
- [ ] Localization.Web is not published correctly

[2016-03-21 21:52] cesarbs commented on #102
Some tests failures on OS X on CoreCLR CI runs: http://aspnetci/viewLog.html?buildId=76003&buildTypeId=XPlat_Mac_MacUniverseCoreCLR&tab=buildLog#_state=24330&focus=32064

[2016-03-21 23:07] JunTaoLuo commented on #102
The CI machine did not have bower installed and could not publish. Probably gulp needs to be installed as well. This is similar to https://github.com/aspnet/Entropy/pull/104. Maybe we should add something in Korebuild to guarantee that these utils are always installed.

[2016-03-22 00:54] JunTaoLuo commented on #102
Tests passing on Travis and locally. Will continue to monitor on CI.

[2016-03-22 00:54] #102 closed

[2016-03-22 01:33] dougbu commented on #102
@JunTaoLuo huh? Last I looked, the `.shade` files using Bower all detected its installation status and installed it (and `npm`) locally if necessary. The main issue are that Node.js must be installed on non-Windows systems and the poor performance of doing local Bower and Gulp installations repeatedly.

If some `.shade` code uses one of these commands w/o first confirming it's installed, file a bu

[2016-03-22 02:09] JunTaoLuo commented on #102
@dougbu It's not the `.shade` files that invoke bower and gulp. Some sample projects have a bower/gulp step in their `project.json`. The tests in entropy publishes the samples and thus invokes bower and gulp. I have also found another problem for agent 10 which is that the installed bower and gulp were not on the PATH. After resolving that, the tests are running fine.

[2016-03-22 02:16] dougbu commented on #102
That's an antipattern. `project.json` files in our repos should not contain such commands. We want the repos to be bootstrappable without manual steps. Just download the .zip or clone the repo and run `.\build.ps1` or `./build.sh`.

As a minor detail, we're likely running Bower and or Gulp twice for each of these projects. Once when the `.shade` file detects the relevant configuration files; again

[2016-03-22 03:37] JunTaoLuo commented on #102
I'm a little confused. Our samples do not have their own repos and they do not have any build scripts. The project I was referring to was https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/project.json. This looks like a localized version of StarterWeb project. It carries over the gulp/bower functionalities from the generated sample but I believe that's the point. When we p

[2016-03-22 04:19] dougbu commented on #102
All of our repos have build scripts. Have a look at https://github.com/aspnet/KoreBuild/blob/dev/build/shade/_k-standard-goals.shade#L40-L56

Scripts don't currently support Gulp but all NPM, Bower and Grunt tasks run automatically.

The third option is to add Gulp support to `_k-standard-goals.shade` and remove `"scripts"` from the `project.json` file. Then Entropy will work w/o users having to p

[2016-03-22 04:56] JunTaoLuo commented on #102
Yes, I know each **repo** has build scripts. What I meant was each **sample** doesn't have their individual build scripts. We just run them or test them.

Exactly, and we need additional work to add support for it. I don't think this case pops up often enough though.

Sure, I can open an issue to track it. The entropy is a proving ground for different samples. It's there to illustrate more peculia

[2016-04-11 18:38] JunTaoLuo commented on #57
`[AssemblyNeutral]` attributes have been long removed. This issue is not needed anymore.

[2016-04-11 18:38] #57 closed

[2016-04-11 18:42] JunTaoLuo commented on #27
This looks like a very old issue that is no longer relevant. I have been verifying our release branch recently and there are no major problems.

[2016-04-11 18:42] #27 closed

[2016-04-14 19:00] JunTaoLuo opened #117 "Add functional test for each sample"
Although we build each sample, they may not run. This happens very often due to breaking changes and we don't discover this until the samples are tested manually. For example, I have fixed `Config.CustomProviders.Web` twice in https://github.com/aspnet/Entropy/commit/7e8cedf480f9061965082b2098087b27adce6379 and https://github.com/aspnet/Entropy/commit/4b56220383348073c2ee07dcad54b0635ee59901.

Cur

[2016-04-21 21:43] JunTaoLuo commented on #117
Also consider expanding test coverage for IISExpress

[2016-04-29 22:14] pranavkm opened #126 "Cleanup samples ported over from Mvc"
As part of porting over the Entropy samples, we noticed it had a bunch of code and comments based on design disccusions. It'll be nice to clean this up so they make for better samples

[2016-05-10 16:14] kichalla opened #127 "Update the Localization.StarterWeb sample to show localization of views"
I was trying to look for a sample where we show localization of views using different localization view formats. I see that Localization.StarterWeb adds the necessary services but doesn't seem to have any views actually.

https://github.com/aspnet/Entropy/blob/dev/samples/Localization.StarterWeb/Startup.cs#L57

[2016-05-25 02:24] JunTaoLuo opened #129 "Localization.StarterWeb test failures"
Still investigating but just going to list what I have found so far.

The failure I'm seeing on the CI is at http://aspnetci/viewLog.html?buildId=100911&buildTypeId=Lite_UniverseTest&tab=buildLog#_focus=64532 which is caused by:
[code]
This seems to have started after the changes in https://github.com/aspnet/Mvc/issues/4498. The reason this error occurs is that for the `net451 TFM`, while the asse

[2016-05-25 16:38] kichalla opened #130 "Add a sample for Ajax + Antiforgery + Auth"
We currently have a sample in Antiforgery repo for showing Ajax + Antiforgery.

Based on the following issue, it appears it would be nice to have a sample which adds Auth also.

https://github.com/aspnet/Antiforgery/issues/83

[2016-05-25 18:17] JunTaoLuo commented on #129
looks like a cli issue, @pakrym will be filing an issue in cli. Will try to find a work around or disable the tests.

[2016-05-25 20:01] JunTaoLuo commented on #129
Workaround checked in, will keep this issue open to revert the change when cli issue is fixed.

[2016-05-26 05:46] muratg commented on #129
Putting this 1.0.1 to track the change to revert this.

[2016-05-26 05:49] muratg commented on #129
@JunTaoLuo what's the CLI bug? Could you link to that?

@piotrpMSFT FYI. We'd need the CLI fix for this one.

[2016-05-26 05:50] JunTaoLuo commented on #129
@pakrym says he's fixing it.

[2016-05-26 15:10] pakrym commented on #129
https://github.com/dotnet/cli/issues/3252 is the CLI issue

[2016-06-02 21:48] JunTaoLuo opened #136 "Re-enable CLR tests on Linux/Mac"
Currently disabled due to corefx issue: https://github.com/dotnet/corefx/issues/9012. Need to revert https://github.com/aspnet/Entropy/commit/a8df61bf46d33704c7fca0bee4d47de817bcc4b8 once it is resolved.

[2016-06-02 22:25] pakrym commented on #129
Reverted workaround: https://github.com/aspnet/Entropy/commit/b118b16f87d26cae9ac30710154417f867f36d64

[2016-06-02 22:25] #129 closed

[2016-06-04 00:15] JunTaoLuo commented on #117
Currently the following samples do not have associated tests:

- [ ] Config.ChangeNotification.Web
- [ ] Config.CustomConfigurationProviders.Sample
- [ ] Config.Providers.Web
- [ ] Content.Upload.Files
- [ ] Content.Upload.Forms
- [ ] Content.Upload.Multipart
- [ ] Data.InMemory
- [ ] Data.SqlServer
- [ ] Localization.EntityFramework
- [ ] Microsoft.AspNetCore.Mvc.TagHelpers.Localization.EntityFra

[2016-06-06 17:42] JunTaoLuo commented on #136
Moving to 1.0.1 since the related corefx issue got punted to 1.1.0. cc @muratg

[2016-06-08 21:56] javiercn opened #140 "Some samples have incorrect dependencies"
Errors in C:\work\Universe\Entropy\samples\Localization.StarterWeb\project.json
    Package Microsoft.Extensions.Configuration.FileProviderExtensions 1.0.0-rc1-final is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). **Package Microsoft.Extensions.Configuration.FileProviderExten
sions 1.0.0-rc1-final supports**:
      - dotnet5.4 (.NETPlatform,Version=v5.4)
      - net451 (.NETFramew

[2016-06-09 16:31] muratg commented on #140
@JunTaoLuo Could you clean this up?

[2016-06-09 23:01] #140 closed

[2016-07-08 16:38] kichalla opened #150 "Create a sample showing structured logging [UpForGrabs]"
Probably a sample using Serilog & maybe Azure document db or other sinks where we can show structured logging and how its useful (ex: in searching for data).

[2016-07-11 15:55] ChristopherJdL opened #151 "[Dependency Fail Information] Unhandled Exception: System.ArgumentNullException: Value cannot be null. Parameter name: assemblyName"
Hello aspnet,

When we run the project present in the following folder : "Entropy/samples/Mvc.RenderViewToString/"
We cannot avoid the exception that we see here:
![image](https://cloud.githubusercontent.com/assets/14253146/16736588/e3fd7424-478d-11e6-8de5-662b30257544.png)
This is the result of dotnet core failing to instantiate the needed dependencies for the RazorViewToStringRenderer.
Since we

[2016-07-12 11:06] adrien-constant commented on #151
Fixed by the last commit a few hours ago :
https://github.com/aspnet/Entropy/commit/02c2b8d2adf599d9263a957388d5b8fd62e5f8e8

[2016-07-27 19:42] muratg commented on #151
:+1:

[2016-07-27 19:42] #151 closed

[2016-07-27 19:44] muratg commented on #150
I think this is a good idea for sure, though there's no urgency.

Hopefully someone would grab it!

[2016-08-03 23:13] ryanbrandenburg opened #156 "Clean up functional tests"
The functional tests are a bit warty and have lots of repetitive code and functions with lots of arguments. Simplify and de-duplicate the tests and their underlying code. The Mvc functional tests would likely make a good guide.

[2016-08-03 23:21] ryanbrandenburg opened #157 "Fix and restore commented out tests"
There are a couple of tests which have had their `InlineData`'s commented out. Restore those and resolve any failures. At worst if we can't resolve the underlying issue at this time we can skip, which has the benefit of being easier to tell that something isn't being tested.

[2016-08-17 18:13] muratg commented on #156
@ryanbrandenburg do you have time to take this?

[2016-08-17 23:13] ryanbrandenburg commented on #156
Yeah, I'll take it, I have a number of blocked issues at the moment so I could use another.

[2016-08-18 18:30] #157 closed

[2016-08-19 16:17] ryanbrandenburg commented on #156
Unfortunately the original plan I had in mind for this (Using the same patern as MVC functional tests) turned out to not actually be possible because of what we're trying to accomplish here (testing things on CoreCLR and CLR, x64 and (hypothetically in the future) x86). My alternate attempt at cleaning it up turned out to not be a big enough improvement to be worth the code churn.

I think these t

[2016-08-22 15:31] muratg commented on #156
@ryanbrandenburg backlogging for now. We can revisit the ideas in the future, especially if there're concerns about adding more tests or stability issues.

[2016-08-23 20:59] Bartmax opened #163 "Problem with Mvc.RenderViewToString and Url.Action"
Using the code from the samples, if I try to use an anchor tag helper on my razor view I get:

[code]

Same if I try to use `Url.Action`

any idea how to overcome this limitation? thanks.

[2016-09-21 23:42] pranavkm opened #167 "Modify RenderViewToString sample to show how it could be used to process a view concurrently"
Based on https://github.com/aspnet/Mvc/issues/5106. Seems like a scenario for users. We should expand the sample to show how to concurrently render views.

[2016-09-23 17:32] muratg commented on #167
@Eilon Could you triage/assign this one?

[2016-09-23 17:32] muratg commented on #163
@Eilon Could you triage/assign?

[2016-09-29 01:22] ajaybhargavb commented on #163
@Bartmax, this is not a limitation. This is expected. This sample was added to demonstrate rendering a view to a string given a model. It does not involve any controllers or actions. This isn't meant for that. Both Url.Action() and AnchorTagHelper need actions and controllers to be present. So you can't use them here.

[2016-09-29 01:22] #163 closed

[2016-09-29 01:32] Bartmax commented on #163
I understand, thanks for your explanation.

I'm using this to create email html from models. In the same project I do have controllers and actions, that's why I want to use something like `<a asp-controller="Home" asp-action="Help">help</a>` but I also need them to be absolute not relative; `//domain.com/Help` instead of `/Help`.

Is there any sample that shows how to make it work with controller/

[2016-09-29 02:28] ajaybhargavb commented on #163
Currently there is no way of doing this if you need all the routing behavior to go with it. Since you have your own logic of url generation, you can just write your own implementations of `IUrlHelperFactory` and `IUrlHelper` and add it to services. You will get no routing magic there. You'll need to put your logic in the `Action` method, something like,

[code]
And just add `services.AddSingleton<

[2016-09-29 10:11] seriouz opened #170 "Model problem in RenderViewToString<TModel>(string name, TModel model) method"
You can't pass a model (e.g.: `List<>()`) to the [`RenderViewToString<TModel>(string name, TModel model)`](https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.RenderViewToString/RazorViewToStringRenderer.cs#L63) method. When you do it, an exception is thrown:

[code]

[2016-09-29 12:41] markjritchie opened #171 "Unable to build Entropy/samples/Localization.StarterWeb"
When I try to build the sample it fails due to the dotnet restore failing.

As far as I can see there are too issues:
- Microsoft.AspNetCore.Mvc": "1.1.0-*

The .\* causes a known exception in VisualStudio, but I don't see anything in the wiki or readme to help people with this issue

The second thing is that its looking for a 1.1.0 version of a package that is at 1.0.1 on [nuget](https://www.nuge

[2016-09-30 11:11] seriouz commented on #170
Seems Rono has the same problem like me http://stackoverflow.com/questions/39776009/render-a-razor-view-containing-a-url-to-a-string-in-asp-net-core

[2016-10-03 18:50] Eilon commented on #127
@ryanbrandenburg I assigned PR https://github.com/aspnet/Entropy/pull/134 from @hishamco to you for this.

[2016-10-03 18:52] #5 closed

[2016-10-03 18:52] #4 closed

[2016-10-03 18:52] #3 closed

[2016-10-03 18:52] #2 closed

[2016-10-09 19:46] ariesdane commented on #171
The 1.1.* libraries aren't yet public on GitHub. You'll need to update your NuGet package sources to include a reference to the CI builds

`https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json`

[2016-10-12 16:45] pranavkm commented on #167
Fixed in https://github.com/aspnet/Entropy/commit/08304ff82087e112f52015e507553f2531535329

[2016-10-12 16:45] #167 closed

[2016-10-12 18:12] dougbu opened #173 "Cover simpler localization approach for custom validation attributes in MVC localization sample"
The [Mvc Localization Sample](https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.LocalizationSample.Web) demonstrates creating a custom validation attribute adapter i.e. an `IValidationAttributeAdapterProvider` and the `IAttributeAdapter` implementation it returns. As mentioned in aspnet/Mvc#5402, it's usually easier to override `IsValid(object, ValidationContext)` and to implement `IClientMod

[2016-10-12 18:12] dougbu commented on #173
FYI @ryanbrandenburg

[2016-10-17 23:42] ryanbrandenburg opened #176 "Mvc.LocalizationSample.Web Model resources don't follow patern"
The resources for Mvc.LocalizationSample.Web models don't follow our recomended model of the resource key being the translation of the default language, change them so they match this model like the Controller and View resources do.

[2016-10-20 18:28] #173 closed

[2016-10-26 17:05] #176 closed

[2016-10-28 18:52] Eilon commented on #136
@JunTaoLuo can we re-enable this test now? Looks like https://github.com/dotnet/corefx/issues/9012 got moved to 1.2.0, so do we want to push on that to get fixed sooner? If not, let's move this bug to 1.2.0.

[2016-10-28 21:01] JunTaoLuo commented on #136
Yup, just tried it again the same issue exists so let's move this. Since I don't see 1.2.0, I'll move it to backlog. In fact, I'm not sure how much testing on Mono we plan to have in the future?

[2016-10-28 21:02] Eilon commented on #136
Was this an issue just on Mono?

[2016-10-28 21:36] JunTaoLuo commented on #136
Correct, we disabled tests that targeted net451 on *nix due to the original issue.

[2016-10-28 22:01] Eilon commented on #136
Ok then closing this because we're not concerned about Mono support in this case.

[2016-10-28 22:01] #136 closed

[2016-10-28 23:44] ryanbrandenburg commented on #130
I think [this](https://github.com/ryanbrandenburg/AjaxAntiForgeryValidation) will be a good start on this work, but I'll need to clean it up some more and turn it into a "real" scenario.

[2016-11-22 19:04] sunilrav opened #183 "ApplicationInsights Exception problem in RenderViewToString<TModel>(string name, TModel model) method"
I am getting this exception when I try `RenderViewToString` in my code. The sample runs fine.

**No service for type 'Microsoft.ApplicationInsights.Extensibility.TelemetryConfiguration' has been registered.**

Any Idea whats going on? The only difference is I am using net461 but the sample is using net451.

[2016-11-30 17:47] #130 closed

[2016-12-09 00:52] hishamco commented on #183
@sunilrav could you please open the issue in the https://github.com/Microsoft/ApplicationInsights-aspnetcore repo, I'm not quite sure why you open it here?!!

[2016-12-09 00:55] hishamco opened #185 "File Logger Provider"
@Eilon Can I make a PR for `FileLoggerProvider` as a show case of the extensible points of the logging system in ASP.NET Core?

[2016-12-09 01:38] ajaybhargavb commented on #183
@sunilrav, if you are trying to render a view that uses a service, make sure you register that service in your service container. See how the sample registers EmailReportGenerator because it is used in a view https://github.com/aspnet/Entropy/blob/dev/samples/Mvc.RenderViewToString/Program.cs#L36

[2016-12-09 20:00] Eilon commented on #185
@hishamco what would the sample show? I believe we currently recommend that people use a more full-featured production-quality logger such as Serilog, which has many sinks, including one for files. I'm afraid that if we put a minimalistic sample here that might lead people to start using that in production, which is probably a Very Bad Thing™️.

[2016-12-09 20:28] hishamco commented on #185
I got you, AFAIK this repo is a chaotic experimental playground for new features and ideas, I just wanna show how to log into files using FileSystem APIs which is something common that the logging repo doesn't support it out-of-the-box, also there's another scenarios to log into the database like DNN, these just few examples. Regarding Serilog I didn't dig into it, because me as developer I'm chec

[2016-12-12 18:06] #185 closed

[2016-12-28 23:15] pranavkm opened #186 "Re-enable localization tests once runtime issue is resolved"
The two loc tests in this project are affected by https://github.com/aspnet/Localization/issues/310.

[2016-12-30 23:14] ryanbrandenburg commented on #127
This was closed in be24723.

[2016-12-30 23:14] #127 closed

[2017-01-04 14:35] xps opened #187 "Localization of data annotation attributes in Localization.StarterWeb"
I am looking for an example showing how to localize data annotation attributes. I feel like this should belong in the Localization.StarterWeb sample, but unfortunately it is not implemented. Here you can see English field names and validation messages when the French language is selected:

![image](https://cloud.githubusercontent.com/assets/868945/21643181/3a0989b4-d287-11e6-948a-1a4173b32a66.png)

[2017-01-04 14:54] Tratcher opened #188 "Fix or remove WebListener test variants"
Some of the functional tests have a variant that claims to test WebListener. However, none of the sample apps are set up to dynamically toggle between servers in Main. They still use an old mechanic where you used to be able to toggle via a simple config string. This hasn't worked for almost a year, you have to explicitly call UseKestrel or UseHttpSys. (see MusicStore).

See the outdated comment i

[2017-01-04 19:53] dougbu commented on #187
This sample might not use enough of the MVC support for it to be visible. Look at samples/Mvc.LocalizationSample.Web instead.

[2017-01-05 08:36] xps commented on #187
Thanks, I had a look and indeed it shows how to address some of my points, namely:
 - Localization of ValidationAttributes with explicit messages (e.g. `[Required(ErrorMessage = "This field is required")]`)
 - Localization of display names (e.g. `[Display(Name = "Email Address")]`)

However, it does not show (and I don't know how to):
 - Localize ValidationAttributes that use the default message (

[2017-01-09 12:47] xps commented on #187
Thanks for the detailed info! With your help I managed to get everything localized.
Let me know if you'd like me to make some changes to the samples for the next guy.

[2017-01-11 02:23] JunTaoLuo commented on #171
Looks like there's nothing here that requires fixes.

[2017-01-11 02:23] #171 closed

[2017-02-01 03:19] Eilon opened #192 "Add readme.md to Mvc.DynamicCorsPolicyProvider sample"
We should add a brief readme.md file to this sample to explain what it does, and perhaps point to some of the key files/feature. You know, just a paragraph or two.

@kichalla this is your "punishment" for making a useful sample 😄

[2017-02-02 19:46] natemcmaster opened #193 "Upgrade to VS 2017"

[2017-02-03 19:46] kichalla commented on #192
9952bf9c4c1ce170157161962f859aa56540c1e7

[2017-02-03 19:46] #192 closed

[2017-02-07 02:09] #193 closed

[2017-02-23 17:47] itanex opened #200 "Antiforgery.Angular1 example not applicable to the Real World"
The example in **Antiforgery.Angular1** places the functionality of the '/api/items' route directly into the startup and removes the separation of concerns between middleware and controller. This is not a real world example.

In MVC using an Antiforgery token is simple, each page/controller action would drop down a token in the form and it is all good. In WebApi, in context of Angular, however, th

[2017-02-24 16:40] rindybo commented on #193
good repo,thank you!!!

[2017-02-27 18:35] #186 closed

[2017-03-07 20:33] dougbu opened #202 "Clean up compilation warnings"
Entropy builds for .NET Core App emit warnings such as

obj\Debug\netcoreapp1.1\zh\Localization.CustomResourceManager.resources.cs(15,12): warning CS1701: Assuming assembly reference 'System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' used by 'System.Resources.ResourceManager' matches identity 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7

[2017-03-07 23:24] vlad0 opened #204 "Can't run Localization.StarterWeb on *nix"
Localization.StartrWeb.csproj

[code]

Got the following error:

tifier must be set for .NETFramework executables. Consider RuntimeIdentifier=win7-x86 or RuntimeIdentifier=win7-x64. [/Entrop
y/samples/Localization.StarterWeb/Localization.StarterWeb.csproj]
The build failed. Please fix the build errors and run again.

When I add the RuntimeIdentifier in the .csproj file:

[code]

I got this error:

[2017-03-10 22:10] JunTaoLuo commented on #204
@vlad0 you don't need to modify the .csproj file. Since the sample targets multiple TFMs, you'll need to specify the one you want to run. For example, this sample will run when you issue the command `dotnet run --framework netcoreapp1.1`

[2017-03-21 22:30] jbagga opened #209 "Container tests fail with EADDRINUSE"
ContainerFallbackWebTests.KestrelX64CoreCLR failed on the Ubuntu test run
http://aspnetci/viewLog.html?buildId=190297&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR

[2017-03-21 22:31] jbagga commented on #209
cc @halter73

[2017-03-22 01:18] pranavkm opened #210 "Investigate System.Security.Claims added to fix compilation"
https://github.com/aspnet/Entropy/commit/ce398e0bd91a86e3408693d7c197f3328215b612

[2017-03-22 18:09] halter73 commented on #209
I have no idea what's going on with this one. The client simply failed to establish a TCP connection. Maybe Kestrel just took too long to start this one time? That's why there's a retry.

Even though TC marked it as flaky, if you look at the test history it looks like this is the only time this test has ever failed: http://aspnetci/project.html?tab=testDetails&projectId=XPlat&testNameId=8180339492

[2017-03-24 01:12] jbagga commented on #209
[ConfigWalkingValuesWebTests.KestrelX64CoreCLR](https://github.com/aspnet/Entropy/blob/dev/test/FunctionalTests/ConfigTests/ConfigWalkingValuesWebTests.cs)
Failure details: http://aspnetci/viewLog.html?buildId=191998&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR.

@halter73 This one has the same error. Fails to connect and retry is canceled

[2017-03-27 16:35] Eilon commented on #209
@halter73 we want to abolish all flaky tests. We have too many flaky tests across the board, so it's a death-by-a-thousand-paper-cuts situation.

[2017-03-27 16:36] #1 closed

[2017-03-27 16:36] Eilon commented on #70
No plans to do this.

[2017-03-27 16:36] #70 closed

[2017-03-27 16:42] muratg commented on #209
@natemcmaster could you take a look? (@halter73 is out this week.)

[2017-03-27 16:43] Eilon commented on #82
Let's delete `Config.ChangeNotification.Web`.

@JunTaoLuo can you do the honors?

[2017-03-27 16:51] Eilon commented on #210
@HaoK @Tratcher any idea why this might be needed? Is something missing from NETStandard.Library or something?

[2017-03-27 16:54] #204 closed

[2017-03-27 17:09] Tratcher commented on #210
No idea.

[2017-03-27 17:27] HaoK commented on #210
Not sure, its also affecting identity I think, https://github.com/aspnet/Identity/issues/1141

[2017-03-27 19:25] JunTaoLuo opened #213 "Nginx tests failing on travis ci ubuntu"
I see failures with the errors:

[code]
https://travis-ci.org/aspnet/Entropy/jobs/215642938#L3988-L4024

[2017-03-27 21:13] #82 closed

[2017-03-27 22:19] natemcmaster commented on #209
ContainerFallbackWebTests failed with

ConfigWalkingValuesWebTests failed with the same error, but ports 5900. I couldn't find any other tests that explicitly use ports 5900 or 6000. Could this be an issue in Kestrel?

[2017-03-27 22:41] pranavkm commented on #210
I was able to remove it from Identity and it just built fine  - see https://github.com/aspnet/Identity/pull/1148. Like I said earlier, it was likely an artifact of having a mix of `netstandard1.x`, `net45x` and `net46`. I think it might be worth waiting until we make the jump to `netstandard2.0` before we clean these out (just in case we need to temporarily put these back before we have migrated e

[2017-03-27 23:19] BrennanConroy commented on #213
Fixed with https://github.com/aspnet/Entropy/issues/214

[2017-03-27 23:19] #213 closed

[2017-03-28 16:11] Eilon commented on #210
@pranavkm ok, I'm parking this on your plate, then.

[2017-03-28 16:12] Eilon commented on #209
Didn't we have some automatic port selector thingy that we used somewhere for Kestrel tests? Or some other tests?

@mikeharder @Tratcher maybe you guys remember?

[2017-03-28 16:18] natemcmaster commented on #209
If we do that would help. To help debug situations like this, I'm make a pull request to make SelfHostDeployer log the status of requested port before it attempts to start the web server. See https://github.com/aspnet/Hosting/pull/993

[2017-03-28 21:26] mikeharder commented on #209
Most Kestrel tests specify port `0` and let the OS dynamically assign a free port.  A few Kestrel tests do bind to specific ports, and we use a tiny helper method to choose a free port:

[code]

https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests/AddressRegistrationTests.cs#L508

This code could be copied where needed since it's so small an

[2017-03-28 21:59] natemcmaster commented on #209
Thanks @mikeharder. I've used this approach in #216 and removed all hard-coded port numbers from tests.

[2017-03-29 22:20] natemcmaster commented on #209
#216

[2017-03-29 22:20] #209 closed

[2017-04-14 06:11] ajaybhargavb opened #222 "Mvc.RenderViewToString needs to be updated"
This sample needs to be revisited to check if it can use stuff from new Razor, mainly RazorTemplateEngine.

cc' @Eilon @pranavkm

[2017-04-14 19:29] kichalla opened #223 "Fix standalone tests to actually publish standalone app on CoreClr"
Currently we do not run standalone tests for CoreClr. The following condition doesn't make much sense as we are testing either Standalone/Portable in the context of CoreClr
https://github.com/aspnet/Entropy/blob/dev/test/Entropy.FunctionalTests/TestServices.cs#L53

cc @Eilon @ryanbrandenburg

[2017-04-18 20:28] Eilon commented on #187
Closing because there are no plans to make this sample change.

[2017-04-18 20:28] #187 closed

[2017-04-18 20:28] Eilon commented on #150
Closing because there are no plans to make this sample change.

[2017-04-18 20:28] #150 closed

[2017-04-18 20:32] Eilon commented on #188
Please remove any useless/dead tests.

[2017-04-18 20:33] #156 closed

[2017-04-18 20:33] #126 closed

[2017-04-18 20:33] #117 closed

[2017-04-19 20:19] #223 closed

[2017-04-24 18:03] Tratcher opened #226 "Test failure: BuilderHelloWorldWebTests.WindowsOS(serverType: WebListener, runtimeFlavor: Clr, architecture: x64, applicationType: Standalone) [Timeout]"
http://aspnetci/viewLog.html?buildId=206326&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win8_Universe
[code]

[2017-04-24 18:58] Rick-Anderson opened #227 "dev/samples/Builder.Filtering.Web/Startup.cs calls next after writing to response"
See [this code](https://github.com/aspnet/Entropy/blob/dev/samples/Builder.Filtering.Web/Startup.cs#L29-L31).

Is it possible to use logging to make the sample valid - or at least add a comment saying don't do this in production - this is a sample on filters?

[2017-04-24 19:11] pranavkm commented on #226
Another one:
[code]

[2017-04-26 01:54] pranavkm opened #229 "Cleaning up the repository"
There's a bunch of samples that were written as a means to play around with the stack before it was fully fleshed out but they probably don't have a whole lot of utility now. It would be nice to remove these since it's a bunch of effort to ensure the apps build and run. Here's a summary of some samples that can be removed from gleaning some of the code:

* https://github.com/aspnet/Entropy/tree/de

[2017-04-26 19:13] mikeharder opened #230 "Flaky Test: ContainerFallbackWebTests.WindowsOS"
Might be related to https://github.com/aspnet/Entropy/issues/209.

[code]

# Repros
* 4/26/17: http://aspnetci/viewLog.html?buildId=209005&buildTypeId=Lite_MusicStoreTest&tab=buildLog&filter=important

[2017-04-29 05:48] mikeharder opened #231 "Address package downgrade warnings"
Latest build of `UniverseCoherence (2.0.0-preview1)` contained package downgrade warnings in this repo:

http://aspnetci/viewLog.html?buildId=211993&buildTypeId=UniverseCoherence&tab=buildLog

[code]

[2017-05-03 16:23] thecobe opened #232 "Localization Problem"
Hi
i'm trying to use your localization example inside Localization.StarterWeb project
It's perfect solution for my site
I copy exactly your code but nothing happens
Can you help me please?
How can i send you my code?
thanks
bye
Mark

[2017-05-03 19:58] mikeharder commented on #231
Resolved: https://github.com/aspnet/Entropy/commit/322f69302988fa698ebb7557a34c2ccbf0788c0f

[2017-05-03 19:58] #231 closed

[2017-05-04 21:20] mikeharder opened #233 "Remove file "samples\Container.Fallback.Web\Documents - Shortcut.lnk""

[2017-05-10 18:45] pranavkm commented on #210
Fixed in https://github.com/aspnet/Entropy/commit/25178a44e04239d0d7c285f1aea5328d04d150a1

[2017-05-10 18:45] #210 closed

[2017-05-25 17:29] mikeharder opened #238 "Fix Logging obsolete warnings"
[code]

[2017-05-25 18:12] mikeharder opened #239 "Warning: Dependency specified was Microsoft.AspNetCore.Diagnostics.Elm but ended up with Microsoft.AspNetCore.Diagnostics.Elm 0.1.0"
[code]

Root cause is that `AspNetCoreLabsVersion` was incorrectly removed from `dependencies.props` in https://github.com/aspnet/Entropy/pull/217, but the property is still used by `samples/Logging.Elm/Logging.Elm.csproj`:

[code]

[2017-05-25 18:50] mikeharder opened #241 "Investigate flaky AppVeyor and Travis builds"
The AppVeyor and Travis builds of Entropy have many failures and appear to be flaky:

https://ci.appveyor.com/project/aspnetci/Entropy/history
https://travis-ci.org/aspnet/Entropy/builds

[2017-05-25 20:12] dougbu commented on #238
Piling on 😸 with other repos hitting the same issue:
[code]

[2017-05-31 17:33] mikeharder opened #243 "Extract common code in sample csproj to samples.props or common.props"
@NTaylorMullen suggested that the common code in the sample csproj files (like the below) should be extracted to a samples.props or common.props:

[code]

[2017-05-31 17:42] mikeharder opened #244 "Remove unnecessary file "samples/Owin.Nowin.HelloWorld/web.config""
@natemcmaster suggested we don't need this file in the project anymore unless we need to customize it, which it doesn't appear we are doing here. Microsoft.NET.Sdk.Web will generate this file.

[2017-05-31 17:44] mikeharder opened #245 "Remove temporary workarounds"
The temporary workarounds in this repo should be reviewed and removed if the root cause is fixed.  A few examples:

[code]

[code]

[2017-05-31 17:51] NTaylorMullen commented on #243
Note: it's already in common.props, the alternative would to be just to use common.props (assuming it doesn't pollute the sample).

[2017-05-31 19:17] #239 closed

[2017-06-07 19:53] BrennanConroy commented on #238
No longer relevant with Pavel's changes

[2017-06-07 19:53] #238 closed

[2017-06-26 23:32] mikeharder opened #253 "Travis: MSBuild fails in container-based environment"
When using the Travis container-based environment, MSBuild fails with the following error:

[code]

https://travis-ci.org/aspnet/Entropy/jobs/247177537#L2335

# Tasks

* [X] Unblock Travis by changing to the sudo-based environment
  * https://github.com/aspnet/Entropy/pull/252
* [ ] Investigate why MSBuild fails in the container-based environment but succeeds in the sudo-based environment (lower p

[2017-07-06 17:42] #229 closed

[2017-07-28 23:44] #233 closed

[2017-08-21 14:09] pranavkm opened #260 "Update RenderViewToString to use `GetView` \ `FindView` fallback"
We should modify the sample to use the same pattern for view discovery as `ViewExecutor`: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.ViewFeatures/Internal/ViewResultExecutor.cs#L79-L84.

[2017-08-23 21:16] muratg commented on #188
Bringing this back to triage.

[2017-08-24 16:18] pranavkm commented on #222
@ajaybhargavb can this be closed?

[2017-08-24 22:50] #260 closed

[2017-10-25 18:38] guardrex opened #270 "Mvc.CustomRazorPageHandlers sample update?"
RE: Mvc.CustomRazorPageHandlers sample

https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.CustomRazorPageHandlers

I couldn't get the current implementation to work for the sample I built to accompany the [Razor Pages route and app convention features (aspnet/docs 4623)](https://github.com/aspnet/Docs/pull/4623) topic. I modified (some would say since I did it ... *"hacked"* :smile:) it to wo

[2017-12-14 22:56] ryanbrandenburg commented on #241
The only failures on entropy in the last ~2 months have been real problems. Closing this, we can re-open if we find new instances.

[2017-12-14 22:56] #241 closed

[2018-01-25 19:37] samarmir opened #274 "solution way to big, neverending loading"
The solution with all its projects is way to big, the projects just keep loading and loading.

[2018-02-14 06:33] Eilon commented on #170
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:33] #170 closed

[2018-02-14 06:33] Eilon commented on #183
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:33] #183 closed

[2018-02-14 06:33] Eilon commented on #200
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:33] #200 closed

[2018-02-14 06:33] Eilon commented on #227
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:33] #227 closed

[2018-02-14 06:34] Eilon commented on #232
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:34] #232 closed

[2018-02-14 06:34] Eilon commented on #274
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

If this is an issue with Visual Studio, please use VS's built in "Report

[2018-02-14 06:34] #274 closed

[2018-02-14 06:35] Eilon commented on #253
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:35] #253 closed

[2018-02-14 06:35] Eilon commented on #244
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:35] #244 closed

[2018-02-14 06:36] Eilon commented on #230
Closing because we probably haven't seen this in a while. A new bug will get logged if it's still flaky.

[2018-02-14 06:36] #230 closed

[2018-02-14 06:36] Eilon commented on #243
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:36] #243 closed

[2018-02-14 06:38] Eilon commented on #270
@pranavkm can you take a look to see if there's something simple we can fix here?

[2018-02-14 06:39] Eilon commented on #226
Closing because I assume this is OK now... or else we'd have heard more about it...

[2018-02-14 06:39] #226 closed

[2018-02-14 06:39] Eilon commented on #222
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:39] #222 closed

[2018-02-14 06:39] Eilon commented on #202
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:39] #202 closed

[2018-02-14 06:40] Eilon commented on #188
Hi, this issue is being closed because this repo contains only unofficial samples and tests, and is not otherwise regularly maintained. If you're having an issue with ASP.NET Core or EF Core, please log a new issue in the appropriate product repo (or if you're not sure where, the https://github.com/aspnet/Home/issues repo).

[2018-02-14 06:40] #188 closed

[2018-02-14 06:41] Eilon commented on #245
Looks like this was cleaned up a while ago. No more "work around" in this repo.

[2018-02-14 06:41] #245 closed

[2018-02-14 06:54] guardrex commented on #270
I'm not on contract at the moment, so I can swing over here and update it if you like.

[2018-02-14 15:19] pranavkm commented on #270
That sounds great. Is there an obvious bug in the code or something fundamentally incorrect?

[2018-02-14 15:46] guardrex commented on #270
It didn't work when I tried to use it back when I was writing the RP conventions topic. What we have for the doc sample works. I'll put up a PR this afternoon that converts this over to the logic in the doc sample. It's probably just a cut-'n-paste of the `TryParseHandlerMethod` method.

[2018-02-16 18:25] #270 closed

[2018-03-23 14:54] Liero opened #276 "Unit test RazorViewToStringRenderer"
I'm trying to create test project for project based on sample [Mcs.RenderViewToString](https://github.com/aspnet/Entropy/tree/dev/samples/Mvc.RenderViewToString)

I've changed build action to "Embedded Resource" for *.cshtml and used `EmbeddedFileProvider`:

var embeddedProvider = new EmbeddedFileProvider(typeof(Program).Assembly);
var compositeProvider = new CompositeFileProvider(embeddedProvider

[2018-03-23 18:28] Eilon commented on #276
@Liero the samples here are mostly just random bits of interesting code that the team has written. They are not official samples, so we don't spend a lot of time on them. However, if you do figure out how to get that scenario working and send an update in a pull request to this repo, we would certainly consider it.

[2018-03-23 18:28] #276 closed

[2018-07-18 00:17] QuinntyneBrown opened #281 "Unable to render Razor to string. Microsoft.AspNetCore.Mvc.Razor.Compilation.CompilationFailedException"
Error when trying to render razor in a console app.

See https://github.com/QuinntyneBrown/RenderRazorInConsoleApp

Specifically https://github.com/QuinntyneBrown/RenderRazorInConsoleApp/blob/master/src/RenderRazorInConsoleApp.Cli/Program.cs

![image](https://user-images.githubusercontent.com/1749159/42852368-1c3e95fc-89fe-11e8-9c65-5aea6aea6f18.png)

[2018-07-21 15:31] #281 closed

[2018-07-25 16:50] waf commented on #170
For anyone else landing on this page from Google, if you have an HttpContext then you can use the stackoverflow solution posted by seriouz. If you don't have an HttpContext (e.g. you're running from a command line application) then you can use this version: https://github.com/waf/RazorToStringExample/blob/master/RazorToStringExample/Services/RazorViewToStringRenderer.cs

[2018-11-07 07:33] alextof opened #283 "RazorViewToStringRenderer partial views not working."
I've implemented successfully the RazorViewToStringRenderer in a NET Core 2.1 Console Application but looks like the view that I'm trying to render has got trouble finding partial views even if the path is correct.

Index.cshtml
[code]

I've installed all the MVC Dependencies and configured the services correctly. The Index.cshtml without the partial view works fine.

[2018-11-08 06:52] alextof commented on #283
My bad, needed to configure RazorViewEngineOptions correctly and set up my Razor UI Library the correct structure folder Areas > MyFeature > Pages

[2019-09-05 22:53] #283 closed

[2020-03-22 06:37] qibunext opened #302 "PagedList.cs How to upgrade to .net core 3.1?"
Entropy/samples/MusicStore.Spa/Infrastructure/PagedList.cs
分页功能 如何升级为.net core 3.1？
PagedList.cs How to upgrade to .net core 3.1?

[2020-09-01 10:32] koljada opened #304 "Mvc.RenderViewToString: support tag helpers"
How to make Mvc.RenderViewToString sample working with tag helpers?
I was trying to add _ViewImports with @addTagHelper directives but with no avail. It seems like both Microsoft and custom tag helpers are not recognised. In the output I just have `<partial name="..." />`

[2021-01-05 13:00] farazp opened #305 "About DataAnnotationLocalizerProvider to using EF"
Thanks about this but I have question how can using Entity Framework to translating DataAnnotation?

in this example It can't translate that